extends ../layout

block content
	h1. 
		Dishwasher #{dishwasher._id}
	p Brand name: #{dishwasher.brand_name}
	p Model name: #{dishwasher.model_name}
	p Model number: #{dishwasher.model_number}
	p Type: #{dishwasher.type}
	p Gallons per cycle: #{dishwasher.gallons_per_cycle}
	p Energy factor: #{dishwasher.energy_factor}
	p Kw/h per year: #{dishwasher.kwh_per_year}
	